#portal {
    background-image: url(images/background-img.svg);
    background-repeat: no-repeat;
    background-color: #FFC15E;
}

html {
    background-color: #A4B6D6;
}

#banner {
    width: 1200px;
    height: 250px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    background-image: url(images/banner-img.svg);
    background-repeat: no-repeat;
    background-position: center;

    background-size: 100%;
    transition: all 1s ease;

    cursor: pointer;

}

#banner:hover {
    background-size: 108%;
}

#banner h2 {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    font-size: 1.875em;
    color: #1B438B;
    margin-left: 10px;
}

#portal-h1 {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;

    text-transform: uppercase;
    font-size: 10em;

    color: transparent;
    background-image: url(images/heading-img.svg);
    /* background-size: 200%; */
    background-position: 0% 50%;
    background-clip: text;
    animation: animate-background 9s linear infinite;        

    margin: -50px 0 82px 10px;
}

@keyframes animate-background {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

main {
    display: flex;
}

section {
    margin: 0 25px 0 50px;
    width: 160px;
}

section h2{
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;

    font-size: 1.5em;
    color: #1B438B;

    margin-bottom: 0;
    margin-top: 0;
}

section ul {
    list-style-type: none; 
    padding-left: 0;
    margin: 0;
}

section ul li a{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    font-size: 1.25em;
    color: #1B438B;

    line-height: 40px;

    text-decoration: none;
    transition: 0.3s ease;
}

section ul li a:hover {
    text-decoration: underline;
    font-size: 1.3em;
}

footer {
    margin: 56.01px 0 0 0;
    background-color: #fbd496c1;
    padding: 10px 0;
}

footer a{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    font-size: 1em;
    color: #1B438B;

    padding-left: 10px;
}

@media only screen and (min-width: 800px) {
    body {
        max-width: 1200px;
        margin: auto;
    }
}

/* innerpages */
.innerpage {
    background-image: url(images/background-subpage-img.svg);
    background-repeat: no-repeat;
    background-color: #FFC15E;
    background-size: cover;
    background-attachment: fixed;
}

.innerpage h1 {
    font-family: "Outfit", sans-serif;
    font-weight: 900;
    font-style: normal;

    text-transform: uppercase;
    font-size: 3em;
    color: #1B438B;
    padding: 30px 10px;
}

.innerpage h2 {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-style: normal;

    font-size: 1.875em;
    color: #1B438B;
    padding-left: 10px;
}

.innerpage p {
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-style: normal;

    font-size: 1.25em;
    color: #122B59;
    padding-left: 10px;
}

.innerpage a {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    font-size: 1em;
    color: #1B438B;

    text-decoration: underline;
}
.MadLib img {
    display: block;
    margin: auto;
}

/* Learning Journal */
.learning-journal img {
    display: block;
    margin: auto;
}

.innerpage time {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    color: #1B438B;

    font-size: 1em;
    padding-left: 20px;
}

.innerpage .learning-journal-article {
    margin: 20px;
    background-color: #fbd496f0;
    padding: 20px;
    border-radius: 20px;
}


.innerpage .learning-journal-article h2 {
    margin: 0;
    padding-left: 0;
}

.innerpage .learning-journal-article p {
    padding-left: 0;
    line-height: 1.9em;
    margin-bottom: 15px;
}

.innerpage .learning-journal-article p a{
   color: #122B59;
}

.learning-journal-info div {
    display: flex;
    align-items: flex-end;
}

.learning-journal-info {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}


