body {
  /* background-image: url(images/madlib-background-before.svg);
  background-repeat: no-repeat; */
    /* height: 750px; */
    padding: 1px;

    background-color: #ecc484;
    background-size: cover;
    background-attachment: fixed;
}

html {
    background-color: #A4B6D6;
    /* overflow: hidden; */
}


h1 {
    font-family: "Outfit", sans-serif;
    font-weight: 900;
    font-style: normal;

    text-transform: uppercase;
    font-size: 3em;
    color: #1B438B;
    padding: 30px 10px 0 10px;
    margin-bottom: 0;
}

p {
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-style: normal;

    font-size: 1.25em;
    color: #122B59;
    padding-left: 10px;

    margin-bottom: 10px;
}




/*----------------------------- Image 1 -------------------------*/
#image-container-1 {
    width: 389px;
    height: 700px;
    margin: auto;

    /* padding: 10px; */
    background-color: rgb(221, 213, 213);

    border: 10px solid transparent;
    border-image: linear-gradient(0deg,rgba(48, 0, 25, 0.96) 9%, rgb(253, 130, 64) 100%);
    border-image-slice: 1;


    overflow: hidden;   
    position: relative;
} 

#Ref1 {
    position: absolute;
    top: 50%;
    left: 50%;

    transition: transform 2s ease, opacity 4s ease-in;
}

#P1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    transition: opacity 5s ease, mask-size 4s ease-in-out;
}

.default-ref1 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    opacity: 1;
    /* z-index: 1; */
}

.animate-ref1 {
    transform: 
        translate(-130px, -163px) rotate(9deg) 
        scale(0.9);
        opacity: 0;
        /* z-index: 0; */
}

.default-p1 {
    /* z-index: 0; */
    opacity: 0;
    mask-image: url(images/PaintbrushMask.svg);
    mask-size: 0%;
    mask-position: center;
    mask-repeat: no-repeat;
}

.animate-p1 {
    opacity: 1;
    mask-image: url(images/PaintbrushMask.svg);
    mask-size: 700%;
    mask-position: center;
    mask-repeat: no-repeat;
    /* z-index: 1; */
}


/*----------------------------- Image 2-------------------------*/
#image-container-2 {
    width: 700px;
    height: 531px;
    margin: auto;

    /* padding: 10px; */
    background-color: rgb(221, 213, 213);

    border: 10px solid transparent;
    border-image: linear-gradient(0deg,rgba(48, 0, 25, 0.96) 9%, rgb(253, 130, 64) 100%);
    border-image-slice: 1;


    overflow: hidden;   
    position: relative;
} 

#Ref2 {
    position: absolute;
    top: 50%;
    left: 50%;

    transition: transform 2s ease, opacity 4s ease-in;
}

#P2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    transition: opacity 5s ease, mask-size 4s ease-in-out;
}

.default-ref2 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    opacity: 1;
    /* z-index: 1; */
}

.animate-ref2 {
    transform: 
        translate(-130px, -163px) rotate(9deg) 
        scale(0.9);
        opacity: 0;
        /* z-index: 0; */
}

.default-p2 {
    /* z-index: 0; */
    opacity: 0;
    mask-image: url(images/PaintbrushMask.svg);
    mask-size: 0%;
    mask-position: center;
    mask-repeat: no-repeat;
}

.animate-p2 {
    opacity: 1;
    mask-image: url(images/PaintbrushMask.svg);
    mask-size: 700%;
    mask-position: center;
    mask-repeat: no-repeat;
    /* z-index: 1; */
}


/*----------------------------- Image 3 -------------------------*/
#image-container-3 {
    width: 570px;
    height: 700px;
    margin: auto;

    /* padding: 10px; */
    background-color: rgb(221, 213, 213);

    border: 10px solid transparent;
    border-image: linear-gradient(0deg,rgba(48, 0, 25, 0.96) 9%, rgb(253, 130, 64) 100%);
    border-image-slice: 1;


    overflow: hidden;   
    position: relative;
} 

#Ref3 {
    position: absolute;
    top: 50%;
    left: 50%;

    transition: transform 2s ease, opacity 4s ease-in;
}

#P3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    transition: opacity 5s ease, mask-size 4s ease-in-out;
}

.default-ref3 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    opacity: 1;
    /* z-index: 1; */
}

.animate-ref3 {
    transform: 
        translate(-130px, -163px) rotate(9deg) 
        scale(0.9);
        opacity: 0;
        /* z-index: 0; */
}

.default-p3 {
    /* z-index: 0; */
    opacity: 0;
    mask-image: url(images/PaintbrushMask.svg);
    mask-size: 0%;
    mask-position: center;
    mask-repeat: no-repeat;
}

.animate-p3 {
    opacity: 1;
    mask-image: url(images/PaintbrushMask.svg);
    mask-size: 700%;
    mask-position: center;
    mask-repeat: no-repeat;
    /* z-index: 1; */
}

@media only screen and (min-width: 800px) {
    body {
        max-width: 1200px;
        margin: auto;
    }
}