body {
    height: 750px;

    /* margin: 0 auto; */

    background-image: url(images/background-body.png);
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;

}

html {
    background-color: #edd7b8;

    background-size: cover;
    background-image: url(images/backgroundhtml.png);
    /* overflow: hidden; */
}


h1 {
    font-family: "Caveat Brush", cursive;
    font-weight: 400;
    font-style: normal;

    font-size: 7em;
    color: #512B00;
    padding-bottom: 0;
    margin: 80px 0 0 120px;
}

h2 {
    font-family: "Caveat Brush", cursive;
    font-weight: 400;
    font-style: normal;

    font-size: 4em;
    color: #512B00;
    padding-top: 0;
    margin: -30px 0 0 120px;
}

p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;

    font-size: 1em;
    color: #191919;
    margin-left: 120px;
}

#tutorial-text {
    font-weight: 600;
}

#buttons {
    margin-left: 120px;
    
    position: absolute;
    top: 70%;
}

button {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;

    font-size: 1em;

    background-color: #734510;
    color: #e5e5e5;

    padding: 5px 20px;
    border-radius: 10px;
}



.img-container {
    border: 5px solid #512B00;
}

.slide {
    /* position: relative; */

    position: absolute;
    transition: transform 0.6s ease, opacity 0.6s ease;

    top: 0;
    left: 0;
}

.slide-active {
    transform: translateX(0);
    opacity: 1;
} 

.slide-exit {
    transform: translateX(100%);
    opacity: 0;
}

.text-show {
    width: 500px;
    opacity: 1;
}

.text-noshow {
    width: 500px;
    opacity: 0;
}

#text1, #text2, #text3, #text4, #text5 {
    position: absolute;
    transition: opacity 0.6s ease;

    top: 220px;

    line-height: 1.5em;
}

/*----------------------------- Image 1 -------------------------*/
#slide1 {
    top: 11%;
    left: 58.8%;
}

#image-container-1 {
    width: 236px;
    height: 425px;

    /* padding: 10px; */
    background-color: rgb(221, 213, 213);


    overflow: hidden;   
    position: relative;
} 

#Ref1 {
    position: absolute;
    top: 50%;
    left: 50%;

    transition: transform 2s ease, opacity 4s ease-in;
}

#P1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    transition: opacity 5s ease, mask-size 2s ease-in-out;
}

.default-ref1 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    opacity: 1;
    /* z-index: 1; */
}

.animate-ref1 {
    transform: 
        translate(-140px, -170px) rotate(9deg) 
        scale(0.7);
    opacity: 0;
        /* z-index: 0; */
}

.default-p1 {
    /* z-index: 0; */
    opacity: 0;
    mask-image: url(images/PaintbrushMask.svg);
    mask-size: 0%;
    mask-position: center;
    mask-repeat: no-repeat;
}

.animate-p1 {
    opacity: 1;
    mask-image: url(images/PaintbrushMask.svg);
    mask-size: 700%;
    mask-position: center;
    mask-repeat: no-repeat;
    /* z-index: 1; */
}


/*----------------------------- Image 2-------------------------*/
#slide2 {
    top: 25%;
    left: 50%;
}

#image-container-2 {
    width: 425px;
    height: 322px;

    /* padding: 10px; */
    background-color: rgb(221, 213, 213);


    overflow: hidden;   
    position: relative;
} 

#Ref2 {
    position: absolute;
    top: 50%;
    left: 50%;

    transition: transform 2s ease, opacity 4s ease-in;
}

#P2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    transition: opacity 5s ease, mask-size 4s ease-in-out;
}

.default-ref2 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    opacity: 1;
    /* z-index: 1; */
}

.animate-ref2 {
    transform: 
        translate(-190px, -160px);
        opacity: 0;
        /* z-index: 0; */
}

.default-p2 {
    /* z-index: 0; */
    opacity: 0;
    mask-image: url(images/PaintbrushMask.svg);
    mask-size: 0%;
    mask-position: center;
    mask-repeat: no-repeat;
}

.animate-p2 {
    opacity: 1;
    mask-image: url(images/PaintbrushMask.svg);
    mask-size: 700%;
    mask-position: center;
    mask-repeat: no-repeat;
    /* z-index: 1; */
}


/*----------------------------- Image 3 -------------------------*/
#slide3 {
    top: 11%;
    left: 54%;
}

#image-container-3 {
    width: 346px;
    height: 425px;

    /* padding: 10px; */
    background-color: rgb(221, 213, 213);


    overflow: hidden;   
    position: relative;
} 

#Ref3 {
    position: absolute;
    top: 50%;
    left: 50%;

    transition: transform 2s ease, opacity 4s ease-in;
}

#P3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    transition: opacity 5s ease, mask-size 4s ease-in-out;
}

.default-ref3 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    opacity: 1;
    /* z-index: 1; */
}

.animate-ref3 {
    transform: 
        translate(-190px, -220px)
        scale(1.2);
        opacity: 0;
        /* z-index: 0; */
}

.default-p3 {
    /* z-index: 0; */
    opacity: 0;
    mask-image: url(images/PaintbrushMask.svg);
    mask-size: 0%;
    mask-position: center;
    mask-repeat: no-repeat;
}

.animate-p3 {
    opacity: 1;
    mask-image: url(images/PaintbrushMask.svg);
    mask-size: 700%;
    mask-position: center;
    mask-repeat: no-repeat;
    /* z-index: 1; */
}

/*----------------------------- Image 4 -------------------------*/
#slide4 {
    top: 11%;
    left: 56%;
}

#image-container-4 {
    width: 285px;
    height: 425px;

    /* padding: 10px; */
    background-color: rgb(221, 213, 213);


    overflow: hidden;   
    position: relative;
} 

#Ref4 {
    position: absolute;
    top: 50%;
    left: 50%;

    transition: transform 2s ease, opacity 4s ease-in;
}

#P4 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    transition: opacity 5s ease, mask-size 4s ease-in-out;
}

.default-ref4 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    opacity: 1;
    /* z-index: 1; */
}

.animate-ref4 {
    transform: 
        translate(-128px, -180px)
        scale(1.2);
        opacity: 0;
        /* z-index: 0; */
}

.default-p4 {
    /* z-index: 0; */
    opacity: 0;
    mask-image: url(images/PaintbrushMask.svg);
    mask-size: 0%;
    mask-position: center;
    mask-repeat: no-repeat;
}

.animate-p4 {
    opacity: 1;
    mask-image: url(images/PaintbrushMask.svg);
    mask-size: 700%;
    mask-position: center;
    mask-repeat: no-repeat;
    /* z-index: 1; */
}

/*----------------------------- Image 5 -------------------------*/
#slide5 {
    top: 11%;
    left: 57.5%;
}

#image-container-5 {
    width: 257px;
    height: 425px;

    /* padding: 10px; */
    background-color: rgb(221, 213, 213);


    overflow: hidden;   
    position: relative;
} 

#Ref5 {
    position: absolute;
    top: 50%;
    left: 50%;

    transition: transform 2s ease, opacity 4s ease-in;
}

#P5 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    transition: opacity 5s ease, mask-size 4s ease-in-out;
}

.default-ref5 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    opacity: 1;
    /* z-index: 1; */
}

.animate-ref5 {
    transform: 
        translate(-203px, -225px)
        scale(1.05);
        opacity: 0;
        /* z-index: 0; */
}

.default-p5 {
    /* z-index: 0; */
    opacity: 0;
    mask-image: url(images/PaintbrushMask.svg);
    mask-size: 0%;
    mask-position: center;
    mask-repeat: no-repeat;
}

.animate-p5 {
    opacity: 1;
    mask-image: url(images/PaintbrushMask.svg);
    mask-size: 700%;
    mask-position: center;
    mask-repeat: no-repeat;
    /* z-index: 1; */
}


@media only screen and (min-width: 800px) {
    body {
        max-width: 1200px;
        margin: auto;
    }
}